@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --color-esparta-red: #d9342b;
  --color-gray-50: gray;
  --color-gray-10: #282c34;
  --color-gray-5: #1f1f1f;
  --color-white: white;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--color-gray-5);
  font-family: 'Montserrat', sans-serif;
  color: var(--color-white);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.todo {
  width: 50vw;
  max-width: 600px;
  padding: 70px 35px;
  background-color: var(--color-gray-10);
}

.todo__logo {
  display: block;
}

.todo__title {
  margin: 40px 0 25px;
  font-size: 40px;
  color: var(--color-esparta-red);
}

.todo__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todo__list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.todo__item {
  display: flex;
  align-items: center;
  margin: 16px 0;
}
.todo__item--is-completed .todo__checkbox {
  color: var(--color-gray-10);
  border-color: var(--color-esparta-red);
  background: var(--color-esparta-red);
}

.todo__item--is-completed .todo__input {
  text-decoration: line-through;
}

.todo__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  font-size: 10px;
  border-radius: 50%;
  border: 1px solid var(--color-white);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.todo__checkbox:hover {
  border: 1px solid var(--color-gray-50);
  background: var(--color-gray-50);
}

.todo__checkbox:hover span {
  color: var(--color-esparta-red);
}

.todo__input {
  width: 100%;
  font-size: 22px;
  color: var(--color-white);
  border: none;
  outline: none;
  background: transparent;
}

.todo__footer{
  margin-top: 30px;
  font-size: 12px;
  color: var(--color-gray-50);
}