@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background-color: #282c34;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
.App {
  padding: 10rem;
  text-align: center;
}


